/* ログイン */
.login-bk-color{
    background-color: #473e57 !important;
}
.login-body {
    display: flex;
    align-items: center;
    height: 100%;
}
.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 50px;
    margin: auto;
    background:#fff;
    margin-top: 100px;
    border-radius: 30px !important;
    /* box-shadow: 31px 31px 62px #d9d9d9, -31px -31px 62px #ffffff !important; */
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-floating>label{
    top: -9px !important;
}