/* サイドバー */

.side-area {
    width: 225px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 500;
    transition: width 0.3s ease;
    background: #fff;
    box-shadow: -1rem 0 1rem 1rem rgba(0, 0, 0, .5);
}
.side-area::-webkit-scrollbar {
    display: none;
}
.side-conteiner {
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.side-menu li{
    padding:5px 20px;
}
.side-menu li i{
   font-size: 18px;
}
.side-menu li:hover,.side-menu li.active{
    background-color:#473e57;
    color:#fff;
}